p {
  .sentence {
    position: relative;
    background-color: #fff;
    transition: all 0.5s;
    &.beefd,
    &.clicked {
      background-color: #ff0; transition: all 2s;
    }
    &.burgered {
      text-decoration: underline;
      text-decoration-color: #ff0;
      text-decoration-style: double;
    }
    &.highlight {
      &.highlight_0 {
        background-color: rgba(255, 255, 0, 0.5);
      }
      &.highlight_1,
      &.highlight_2 {
        background-color: rgba(255, 255, 0, 0.1);
      }
    }
    a {
      color: #000;
      text-decoration: none;
    }
    .msg {
      background-color: #fff;
      display: none;
      float: right;
      font-family: georgia;
      font-size: 20px;
      font-weight: bold;
      left: 50%;
      padding: 10px;
      position: absolute;
      top: 0;
      z-index: 2;
    }
    .burger {
      background-color: rgba(255, 255, 0, 0.9);
      border-radius: 64px;
      cursor: pointer;
      height: 64px;
      left: 50%;
      position: absolute;
      top: 0;
      width: 64px;
      z-index: 2;
      img {
        display: inline-block;
        height: 40px;
        left: 12px;
        position: absolute;
        top: 12px;
        width: 40px;
        &.check {
          display: none;
          top: 16px;
        }
      }
    }
  } 
}
.beef-vis {
  .info {
    font-family: georgia;
    font-size: 12px;
    margin-bottom: 10px;
    .infotitle {
      font-weight: bold;
    }
    .infocount {
      font-style: italic;
    }
  }
}
.beefinfo {
  font-family: georgia; 
  font-size: 20px; 
  margin: 20px 0 40px 0;
} 